@model IEnumerable<TCP_Chat.Models.HistoryLog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD
<form method="post" asp-action="Index">

    <div class="form-group" id="dateActionFrom">                
        <label class="control-label"><h4 style="color: white">Введите дату поиска:</h4></label>
=======
<h2>Log</h2>

<form method="post" asp-action="Index">

    <div class="form-group" id="dateActionFrom">                
        <label class="control-label">Дата</label>
>>>>>>> 59c5848c2330f9d17a9f1967b6240dcad750a20c
        <input 
        id="dateActionFromAsset" 
        type="date" 
        class="form-control" 
        name="date"
<<<<<<< HEAD
        placeholder="Введите дату поиска в формате ДД.ММ.ГГГГ"
        />
    </div>
    
    <div class="form-group" id="dateActionFrom">   
=======
        />
    </div>
    <input type="submit" value="Send">

    <div class="form-group" id="dateActionFrom">                
        <label class="control-label">Имя</label>
>>>>>>> 59c5848c2330f9d17a9f1967b6240dcad750a20c
        <input 
        id="dateActionFromAsset" 
        type="text" 
        class="form-control" 
        name="name"
<<<<<<< HEAD
        placeholder="Введите имя пользователя для поиска"
        />
    </div>
    <select onchange="StatusSend()" id="statusSend">
        <option name="status" value=""></option>
        <option name="status" value="Chat">Чат</option>
        <option name="status" value="GroupChat">Груповой чат</option>
    </select>

    <input type="submit" onclick="StatusSendButton()" class="btn btn-primary block full-width m-b" value="Send">
</form>

<table class="table table-striped table-bordered table-hover dataTables-example" style="background-color: white">
    <thead class="caption">
        <tr class="gradeX">
            <th>
               Отправитель
            </th>
            <th>
               Получатель
            </th>
            <th>
               Сообщение
            </th>
            <th>
               Дата
            </th>
=======
        />
    </div>
    <input type="submit" value="Send">
</form>

<table class="table tablemy">
    <thead class="caption">
        <tr class="trmy">
            <th class="thmy">
               Отправитель
            </th>
            <th class="thmy">
               Получатель
            </th>
            <th class="thmy">
               Сообщение
            </th>
            <th class="thmy">
               Дата
            </th>
            <th class="thmy"></th>
>>>>>>> 59c5848c2330f9d17a9f1967b6240dcad750a20c
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
<<<<<<< HEAD
            <td>
                @Html.DisplayFor(modelItem => item.UserFrom.UserName)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.UserTo.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Context)
            </td>
            <td>
=======
            <td class="tdmy">
                @Html.DisplayFor(modelItem => item.UserFrom.UserName)
            </td>
            <td class="tdmy">
                @Html.DisplayFor(modelItem => item.UserTo.UserName)
            </td>
            <td class="tdmy">
                @Html.DisplayFor(modelItem => item.Context)
            </td>
            <td class="tdmy">
>>>>>>> 59c5848c2330f9d17a9f1967b6240dcad750a20c
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
        }
    </tbody>
</table>
<<<<<<< HEAD


<script>

    var statusRight;
    

    function StatusSend(){        
        statusRight = document.getElementById("statusSend").value;
    }

    function StatusSendButton(){          
        
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Index", "HistoryLog")',
            data: {
                status: statusRight
            },
            success: function (data) {
                console.log('success!');
            }
        });
    }

</script>
=======
>>>>>>> 59c5848c2330f9d17a9f1967b6240dcad750a20c
